<canvas id="bg-canvas" aria-hidden="true"></canvas>

  {% for item in site.data.home.project_entries %}
    <template id="s0e{{ forloop.index0 }}">
      {% include new-bg-card.html cardItem = item %}
    </template>
  {% endfor %}

  {% for item in site.data.home.old_project_entries %}
    <template id="s1e{{ forloop.index0 }}">
      {% include new-bg-card.html cardItem = item %}
    </template>
  {% endfor %}

  <div id="project-card" class="new-bg-card" hidden aria-hidden="true"> </div>
 <!-- 
  {% for item in site.data.home.project_entries %}
    <template id="s0e{{ forloop.index0 }}">
      {% include card.html cardItem = item %}
    </template>
  {% endfor %}

  {% for item in site.data.home.old_project_entries %}
    <template id="s1e{{ forloop.index0 }}">
      {% include card.html cardItem = item %}
    </template>
  {% endfor %}

<div id="new-bg-card" class="new-bg-card" >
  <section class="new-bg-row new-bg-row-top">
    <ul class="new-bg-top-list">
      <li class="new-bg-top-list-item">Item A</li>
      <li class="new-bg-top-list-item">Item B</li>
      <li class="new-bg-top-list-item">Item C</li>
    </ul>
  </section>

  <section class="new-bg-row new-bg-row-second">
    <div class="new-bg-text-second">Project Title</div>
  </section>

  <section class="new-bg-row new-bg-row-middle">
    <img src="/assets/images/cover/kaikog.jpg" alt="Preview">
  </section>

  <section class="new-bg-row new-bg-row-bottom">
    <div class="new-bg-text-bottom"><strong>Gameplay code</strong> within the ECS architecture.
      C++, proprietary software.

      01 Wall traversal
      02 Enemy steering
      03 Interactibles
      04 Carriables
      05 Quick time events
      06 Enemy logic
    </div>
    <img src="/assets/images/logos/kaiko.png" alt="Logo">
  </section>
</div>
-->

  <style>
  #bg-canvas{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;            
  }

  /* Respect reduced motion */
  @media (prefers-reduced-motion: reduce) {
    #bg-canvas { display: none; }
  }
</style>

<script src="https://unpkg.com/three@0.147.0/build/three.js"></script>

<script src="https://unpkg.com/three@0.147.0/examples/js/controls/OrbitControls.js"></script>
<script src="https://unpkg.com/three@0.147.0/examples/js/shaders/CopyShader.js"></script>  <!-- remove later --> 
<script src="https://unpkg.com/three@0.147.0/examples/js/shaders/FXAAShader.js"></script>
<script src="https://unpkg.com/three@0.147.0/examples/js/postprocessing/EffectComposer.js"></script>
<script src="https://unpkg.com/three@0.147.0/examples/js/postprocessing/Pass.js"></script>
<script src="https://unpkg.com/three@0.147.0/examples/js/postprocessing/RenderPass.js"></script>
<script src="https://unpkg.com/three@0.147.0/examples/js/postprocessing/ShaderPass.js"></script>
<script src="../assets/threejs/GLTFLoader.js"> </script>
<script defer src="../assets/threejs/Helpers.js"></script>
<script defer src="../assets/background/outline-pass.js"></script>
<script defer src="../assets/background/animated-bg3.js"></script>

