<canvas id="bg-canvas" aria-hidden="true"></canvas>

<style>
  #bg-canvas{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;            
    pointer-events: none;  
  }

   .page-content > * {
    position: relative;
    z-index: 2;
  } 

  /* Respect reduced motion */
  @media (prefers-reduced-motion: reduce) {
    #bg-canvas { display: none; }
  }
</style>


<script src="https://unpkg.com/three@0.160.0/build/three.min.js"></script>
<script defer src="../assets/background/animated-bg3.js"></script>

