{% highlight hlsl %}
float prerAxisDisplacement = _EdgeWidth * -0.5f;
float3 posWS = i.worldCoord.xyz;

float4 shadowCoordShiftedRight = TransformWorldToShadowCoord( posWS + i.tangentWS * prerAxisDisplacement + i.bitangentWS * prerAxisDisplacement);
light = GetMainLight(shadowCoordShiftedRight);
float attenuationShiftedRight = light.shadowAttenuation;

float4 shadowCoordShiftedLeft = TransformWorldToShadowCoord( posWS - i.tangentWS * prerAxisDisplacement - i.bitangentWS * prerAxisDisplacement);
light = GetMainLight(shadowCoordShiftedLeft);
float attenuationShiftedLeft = light.shadowAttenuation;

float lightMask = saturate(attenuation*10);
float lightMaskShiftedRight = saturate(attenuationShiftedRight*10);
float lightMaskShiftedLeft = saturate(attenuationShiftedLeft*10);

shadowCoordShiftedRight = TransformWorldToShadowCoord( posWS + i.tangentWS * prerAxisDisplacement - i.bitangentWS * prerAxisDisplacement);
light = GetMainLight(shadowCoordShiftedRight);
attenuationShiftedRight = light.shadowAttenuation;

shadowCoordShiftedLeft = TransformWorldToShadowCoord( posWS - i.tangentWS * prerAxisDisplacement + i.bitangentWS * prerAxisDisplacement);
light = GetMainLight(shadowCoordShiftedLeft);
attenuationShiftedLeft = light.shadowAttenuation;

lightMask = saturate(attenuation*10);
float lightMaskShiftedRight2 = saturate(attenuationShiftedRight*10);
float lightMaskShiftedLeft2 = saturate(attenuationShiftedLeft*10);

diffractionMask = saturate (saturate(lightMask - lightMaskShiftedRight) + saturate(lightMask - lightMaskShiftedLeft) + saturate(lightMask - lightMaskShiftedLeft2) + saturate(lightMask - lightMaskShiftedRight2));
{% endhighlight %}
