{% highlight cpp %}

const bool isRadiusExpanded = isThisLastAvailableInteractionInRange && pInteractorComponent->pSetupData->interactionSensorPointData.canExpand;
const float expandedRadius = pInteractibleComponent->interactorSensorSphereData.sensorSphereRadius * ( isRadiusExpanded ? pInteractibleComponent->interactorSensorSphereData.inRangeSphereExpandFactor : 1.0f);
const bool isExclusiveIfExists = pInteractorComponent->exclusiveInteraction == tix::ecs::InvalidEntityId || pInteractibleComponent->interactibleEntityId == pInteractorComponent->exclusiveInteraction;

if (isPointInsideSphere(&isInRange, &currentSquareDistance, pInteractibleComponent->interactorSensorSphereData.worldSpacePosition, expandedRadius, interactorPoint)
  && isExclusiveIfExists
  && MultistableUtility::isUnlocked(pMultistableComponent)
  && !pInteractorComponent->isInteractionLocked
  && !InteractibleUtility::isInteractedWith(*pInteractibleComponent))
{
  bool foundValidTransition = false;
  size_t validTransitionIdx = 0u;
  for (size_t iTransition = 0u; iTransition < transitionLibrary.transitions.getSize(); iTransition ++)
  {

    if( areTransitionRequirementsMet(pInteractorMovementState, *pInteractibleComponent, pMultistableComponent, *pQuickTimeEventStorage, transitionLibrary.transitions[iTransition], interactorEntityId)
      &&(isInteractorStatic
        || 
        (isMovementStateCorrect(*pInteractorMovementState, horsemanStorage, interactorEntityId)
        && isInteractibleWithinViewAndReachable(&currentAngleDiff, pData->interactibleFacingDirectionCache[interactibleIdx], transitionLibrary.transitions[iTransition], pFacingStorage->getComponentReadOnly(interactorEntityId), interactorPositionComponent, interactiblePositionComponent, pInteractibleComponent->interactorViewAngleRange, pInteractibleComponent->maxHeightDifference)))
      && isInteractorTypeRequirementMet(&potentialInteraction, *pInteractorComponent, playerData, transitionLibrary.transitions[iTransition], interactorEntityId))
      {
        foundValidTransition = true;
        validTransitionIdx = iTransition;

        if (transitionLibrary.transitions[iTransition].autoTriggerOption != AutoTrigger_Never && !autoTriggerInteractions.isFull())
        {
          InteractibleUtility::AvailableInteraction autoTriggerInteraction(pInteractibleComponent->interactibleEntityId, iTransition, transitionLibrary.transitions[iTransition].autoTriggerOption, pInteractibleComponent);
          autoTriggerInteractions.pushBack(autoTriggerInteraction);
        }
      }
  }

  const bool hasHigherPrio = hasSmallerAngleOrHigherPrio(currentAngleDiff, smallestAngleDiff, static_cast<int> (pInteractibleComponent->interactionPriority), highestPriority);
  if (foundValidTransition && (isInteractorStatic || hasHigherPrio))
  {
    overwriteAvailableInteraction(pInteractorComponent, &highestPriority, &smallestAngleDiff, currentAngleDiff, *pInteractibleComponent, validTransitionIdx, transitionLibrary.transitions[validTransitionIdx]);
  }
  else if (potentialInteraction.type != PotentialInteractionType::PotentialInteractionType_Count && !isInteractorStatic && !foundValidTransition && hasHigherPrio) // it would have won if not for the requirements check;
  {
    overwritePotentialInteraction(pInteractorComponent, potentialInteraction);
  }
}
{% endhighlight %}