 
<a href="{{ include.cardItem.url | relative_url }}">
 <div class="new-bg-card">
    <section class="new-bg-row new-bg-row-top">
    {% if include.cardItem.highlight %}
          <ul class="new-bg-top-list">
            <li class="new-bg-top-list-item">{{ include.cardItem.highlight }}</li>
          </ul>
    {% endif %}
    </section>

    <section class="new-bg-row new-bg-row-second">
      <div class="new-bg-text-second">{{ include.cardItem.title }}</div>
    </section>

    <section class="new-bg-row new-bg-row-middle">
      {% if include.cardItem.image %}
      <img src="{{ include.cardItem.image }}" alt="Cover">
      {% else %}
      <hr/>
      {% endif %}
    </section>

    <section class="new-bg-row new-bg-row-bottom">
      {% if include.cardItem.desc_long %} 
      <div class="new-bg-text-bottom">{{ include.cardItem.desc_long }} </div>
      {% endif %}

      {% if include.cardItem.logo %}
      <img src="{{ include.cardItem.logo }}">
      {% endif %}
    </section>
</div>
</a>