ul.horizontal-list {
  display: flex;
  margin-top: 0em;
  gap: 1em; 
  flex-wrap: wrap;

  justify-content: left;
  padding: 0;

  li {
    display:flex;
    list-style: none;
    flex-direction: column;
  }

  li a {
    text-decoration: none;
    font-weight: normal;

    display: block !important;
    flex-direction: column !important;
    height: 100% !important;
  }
}

.card {
  border: 1px var(--text) solid;
  width: calc((100% - 1em - 4px) / 2);
  height: auto;
  font-size: 1em;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: 0.5em;
  overflow: hidden;
  
  display: block;

  .header-and-image {
    height: auto;
    align-items: center;
    flex: 0 0 auto;
  }

  .header {
    color: var(--links);
    padding: 1em;
    height: auto;
    align-items: center;
    object-position: center;
    text-align: center;
    overflow: hidden;
  }

  .body 
  {
    font-size: 0.9em;
    padding: 1.5em;
    text-align: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    object-fit: fill;
    flex: 1 1 auto;
  }

  .desc 
  {
    @extend .body;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .tools 
  {
    @extend .body;
    margin: 0;
    padding: 0;
    font-style: italic;
    width: 100%;
  }

  hr {
    margin: 0.5em 0;
  }
}

.card img 
{
  width: auto;
  aspect-ratio: 16 / 9;
  padding: 0em;
  display: block;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  display: block;
  flex: 0 1 auto;
}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 570px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    //margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}
