/* .highlight {
  background: #f9f9f9;
  color: #2e3440;
} */

.highlight .c     { color: #6a737d; font-style: italic; }  /* comment */
.highlight .err   { color: #b00020; }  /* error */
.highlight .k     { color: #d73a49; font-weight: bold; }   /* keyword */
.highlight .l     { color: #005cc5; }                      /* literal */
.highlight .n     { color: #2e3440; }                      /* name */
.highlight .o     { color: #d73a49; }                      /* operator */
.highlight .p     { color: #2e3440; }                      /* punctuation */

.highlight .cm, 
.highlight .cp, 
.highlight .c1, 
.highlight .cs { color: #6a737d; font-style: italic; }     /* various comments */

.highlight .gd    { color: #d73a49; } /* deleted */
.highlight .gi    { color: #28a745; } /* inserted */

.highlight .kt    { color: #005cc5; }                      /* type */
.highlight .m     { color: #005cc5; }                      /* number */
.highlight .s     { color: #032f62; }                      /* string */
.highlight .na    { color: #6f42c1; }                      /* attribute */
.highlight .nb    { color: #24292e; }                      /* built-in */
.highlight .nc    { color: #e36209; font-weight: bold; }   /* class */
.highlight .no    { color: #e36209; }                      /* constant */
.highlight .nf    { color: #6f42c1; }                      /* function */
.highlight .nt    { color: #22863a; }                      /* tag */
.highlight .nv    { color: #005cc5; }                      /* variable */

.highlight .w     { color: #2e3440; }                      /* whitespace */
.highlight .sc    { color: #005cc5; }                      /* char */
.highlight .bp    { color: #2e3440; }                      /* builtin pseudo */
.highlight .vc,
.highlight .vg,
.highlight .vi    { color: #005cc5; }                      /* variables */

