<!DOCTYPE html>
<html lang="en" data-theme="light">
        {%- include head.html -%}
  <body>
    
    {%- include animated-bg3.html -%}

    <div class = "hud-v-list">
      <div class = "hud-v-list-item">
        {%- include toggle_layout_button.html -%}
      </div>
      <div class = "hud-v-list-item">
        {% include toggle_theme_button.html %}
      </div>
    </div>

      <script>
      document.addEventListener('DOMContentLoaded', () => {
        const btn = document.getElementById('layout-toggle');
        if (!btn) return;

        btn.addEventListener('click', e => {
          window.location.assign('/');
        });
        
        const labelSwitchText = btn.querySelector('text.layout-label-text');
        labelSwitchText.textContent = "2D";
      });
      </script>

    <main class="page-content" aria-label="Content" data-open="false" aria-hidden="true">
      
      <div id="back-button" class="back-home-button" role="button" tabindex="0" hidden aria-hidden="true" >
        <!-- <div class="new-bg-top-list-item"> -->
            {{ site.theme_config.back_home_text }}
        <!-- </div> -->
      </div> 

      <div class="w" >

        {{ content }}
        
      </div>
    </main>

  </body>
</html>
